# Docker Compose file for Payflex API ..... docker-compose.yml

services:
  # API service - shared configuration for both dev and prod
  api:
    container_name: paysmi-api
    restart: unless-stopped
    networks:
      - payflex-network
    volumes:
      - .:/app
      - /app/node_modules

networks:
  payflex-network:
    driver: bridge