# Development environment overrides..... docker-compose.dev.yml

# Dev: docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d

services:
  api:
    build:
      context: .
      target: dev
    env_file:
      - .env  # Loads ALL variables from .env file automatically
    environment:
      # Override DATABASE_URL to use Docker service name 'db' instead of 'localhost'
      - DATABASE_URL=postgresql://postgres:maximus@db:5432/local-payflex?schema=public
    ports:
      - "${API_PORT:-3000}:3000"
      - "${PRISMA_STUDIO_PORT:-5556}:5555" # prisma studio port (host default 5556)
    command: npm run start:dev
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules # This prevents the node_modules inside the container from being overwritten
    networks:
      - payflex-network

  # PostgreSQL database - local development database
  db:
    image: postgres:17-alpine
    container_name: local-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: maximus
      POSTGRES_DB: local-payflex
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - payflex-network

networks:
  payflex-network:
    driver: bridge

volumes:
  postgres_data: